.button {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff37;
  /* padding-left: 35px; */
  cursor: pointer;
}

.value {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff37;
  /* padding-left: 35px; */
}

.low {
  color: #00ff00aa;
}

.middle {
  color: #ffff00bb;
}

.high {
  color: #ff9000cc;
}

.critical {
  color: #ff0000dd;
}

.button:hover {
  color:#107effff;
}

/* .customCheckbox + label {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff37;
  cursor: pointer;
}

.customCheckbox + label:hover {
  color:#107effff;
} */
