.menubox {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    width: 800px;
    /* height: 225px; */
    /* border-radius: 0 12px; */
    border-radius: 0 0 12px 12px;
    box-shadow: var(--shadow-header);
    background-color: #0d0d0dff;
    padding: 0.25em 16px;
    transition: all 0.5s ease-in-out;
    /* z-index: 0; */
    @media (max-width: 800px) {
        width: 100vw;
        /* height: 225px; */
    }
}

/* flex flex-row justify-between w-dvw items-center p-4 bg-[#0d0d0dff] shadow-header rounded-b-[12px] */
.avatar {
    display: grid;
    cursor: pointer;
    /* align-self: end; */
    object-fit: cover;
    aspect-ratio: 1 / 1;
    height: 4em;
    border-radius: 50%;
    border: 3px solid var(--valid-color);
    transition: all 0.25s ease-in-out;
    @media (min-width: 600px) {
        height: 2em;
        border: 2px solid var(--valid-color);
    }
}