.wallpaper {
    display: flex;
    position: absolute;
    width: 800px;
    height: 225px;
    object-fit: cover;
    border-radius: 12px;
    border-bottom-left-radius: 75px;
    z-index: 0;
}

.leftBox {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    height: 100%;
    border-radius: 0 75px;
    background-color: #202020bb;
    z-index: 10;
}

.avatar {
    display: flex;
    position: absolute;
    /* left: 130px; */
    top: 75px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #828282ff;
    border-radius: 50%;
    z-index: 0;
}

.sidebox {
    position: relative;
    display: grid;
    width: 800px;
    height: 225px;
    border-radius: 12px;
    border-bottom-left-radius: 75px;
    box-shadow: var(--shadow-sidebar);
    background-color: #202020ff;
    z-index: 0;
    @media (max-width: 800px) {
        width: 100%;
        /* height: 225px; */
    }
}

.sidesection {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    z-index: 0;
    @media (max-width: 430px) {
        grid-template-columns: 1fr 2fr;
    }
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-right: 25px;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    position: absolute;
    padding-left: 165px;
    top: 210px;
    height: 70px;
    z-index: 0;
}