.auth {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "first third fourth"
        "second second second"; */
    width: 800px;
    /* padding: 10px;
    gap: 20px; */
    @media (max-width: 800px) {
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "first"
            "third"
            "fourth"
            "second"; */
        width: 100%;
    }
}