.toolbar {
  /* background: #f5f5f5; */
  /* border-bottom: 1px solid #ccc; */
  top: 60px;
  /* padding: 8px; */
  display: flex;
  flex-direction: row;
  column-gap: 1.25em;
  row-gap: 0.25em;
  flex-wrap: wrap;
}

.toolbar button {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffffff;
  text-align: center;
  min-width: 2em;
  height: 2em;
  padding: 0.05em 0.5em;
  border-radius: 8px;
  place-content: center;
  transition: all 0.2s ease-in-out;
}

.primary {
  cursor: pointer;
  background-color: #3137c9ff;
}

.toolbar button:hover {
  filter: opacity(0.75);
}

.toolbar.isActive {
  color: #3137c9ff;
  background-color: #ffffffff;
}

.formatPanel {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  flex-wrap: wrap;
}

.verticalFormatPanel{
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  /* flex-wrap: wrap; */
}

.codeBlock {
  font-size: 14px;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-family: 'Courier New', monospace;
  border: 1px solid #d2d2d2d2;
}

.ulFormat {
  font-size: 10px;
}

.olFormat {
  font-size: 10px;
}

.blockquoteFormat {
  font-size: 16px;
  border-left: 4px solid #d2d2d2d2;
  margin: 0.25em 0;
  padding-left: 0.25em;
  font-style: italic;
}
