.home {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "first third fourth"
        "second second second"; */
    width: 800px;
    /* padding: 10px;
    gap: 20px; */
    @media (max-width: 800px) {
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "first"
            "third"
            "fourth"
            "second"; */
        width: 100%;
    }
}

.first {
    grid-area: first;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.second {
    grid-area: second;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.third {
    grid-area: third;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.fourth {
    grid-area: fourth;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.ul {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.li {
  /*className='cursor-pointer bg-[#d2d2d2ff] text-[#181818ff] text-[12px] leading-[100%] font-normal'*/
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d2d2d2ff;
  /* max-height: 500px; или auto, но тогда transition не сработает */
  /* opacity: 1; */
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  /* overflow: hidden; */
}

.p {
    display: flex;
    max-width: 200px;
}