.scrollable-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior: contain;
  gap: 3px;
  padding: 0 3px;
  scrollbar-width: none;
}

.scrollable-container > * {
  flex: 0 0 auto;
  pointer-events: auto; 

  transition: transform 0.2s ease;
  
  &:hover {
    /* cursor: grab; */
    transform: scale(0.98);
  }
}