.scrollable-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  gap: 3px;
  padding: 0 3px;
  scrollbar-width: none;
}

.scrollable-container > * {
  flex: 0 0 auto;
  pointer-events: auto; 

  transition: transform 0.2s ease;
  
  /* &:hover {
    transform: scale(0.98);
  } */
}