.li {
  /*className='cursor-pointer bg-[#d2d2d2ff] text-[#181818ff] text-[12px] leading-[100%] font-normal'*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d2d2d2ff;
  max-height: 500px; /* или auto, но тогда transition не сработает */
  /* opacity: 1; */
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  /* overflow: hidden; */
}