.outbox {
    display: grid;
    width: 100px;
    height: 100px;
}

.outbackContur {
    cursor: pointer;
    place-self: center;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 10%;
}

.topContur {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-items: center;
    width: 50%;
    height: 35%;
    border: 1px solid white;
    border-top: 0;
    border-radius: 0 0 10% 10%;
}

.inTopContur {
    display: flex;
    justify-self: center;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    border-radius: 10% 10%;
}

.inTopContur:nth-child(1) {
    border: none;
}

.bottomContur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
    justify-self: center;
    margin-top: 22%;
    width: 65%;
    height: 45%;
    border: 1px solid white;
    border-bottom: 0;
    border-radius: 10% 10% 0 0;
}

.horisontalLine {
    border: 1px solid white;
    margin: 0 10%;
}