.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    margin: 30px 0px;
    color: #ffffffff;
}

.primary {
    font-size: 21px;
    line-height: 21px;
    margin: 30px 0px;
}

.center {
    text-align: center;
}