.resume {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "first third fourth"
        "second second second";
    width: 800px;
    padding: 10px;
    gap: 20px;
    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "first"
            "third"
            "fourth"
            "second";
        width: 100%;
    }
}

.first {
    grid-area: first;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.second {
    grid-area: second;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.third {
    grid-area: third;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.fourth {
    grid-area: fourth;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}