.checkbox {
    display: inline;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 5px;
    border: 2px solid;
}

.checkbox.active {
    color: #d2d2d2ff;
    /* border-color: #107effff; */
}


.checkbox.notActive {
    color: #ffffff37;
}