.label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #d2d2d2ff;
    text-wrap-mode: nowrap;
    /* align-items: center; */
}