.button {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffffff;
    width: fit-content;
    height: fit-content;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.primary {
    cursor: pointer;
    background-color: #3137c9ff;
}

.primary:hover {
    transform: scale(1.05);
}

.primary:active {
    animation-duration: 50ms;
    transform: scale(0.95);
}

.disabled {
    cursor: not-allowed;
    background-color: #ffffff37;
}