.ru-compliance-banner {
    
}

.banner-content {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #d2d2d2ff;
    /* border-bottom: 2px solid; */
    /* width: 100%; */
}