.columnFlexbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 200px;
    max-width: 300px;
}

.rowFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}